.landing-content {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 32px;
}

.landing-content .navbar {
  position: absolute;
  top: 0;
  z-index: 1;
}

.landing-background {
  z-index: -1;
  position: absolute;
}

