.landing-content {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing-background {
  z-index: -1;
}

 .byline {
  margin-top: 4px;
}

 .info {
  display: block;
  text-align: center;

  background-color: transparent;

  margin: 0 auto;
  padding: 40px;

  animation-duration: 1s;
  animation-name: fadeIn;
}

 .info .Links a {
  margin: 5px;
  padding: 5px;
}

 .Profile-Pic {
  height: 150px;
  border-radius: 100px;
  margin: 0px auto;
  display: block;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
