.landing {
  margin: auto;
  width: 100%;
}

.landing .container {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.profile-card {
  display: block;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}
