.Button {
  width: 70%;
  height: 5vw;
  margin: 10px;

  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;

  border: 2px solid #373E5C;
  border-radius: 5px;
  color: #373E5C;
  background: transparent;
}

.Button:hover, .Button:active .Button:focus {
  border: 2px dashed #B9009A;
  color: #B9009A;
  background: transparent;
}
