.Button {
  width: 60%;
  height: 5vw;

  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;

  border: 2px dashed #373E5C;
  border-radius: 5px;
  color: white;
  background: #373E5C;
}

.Button:hover, .Button:active .Button:focus {
  background: transparent;
  color: #373E5C;
}
