.banner {
    width: percentage(1/7);
    float: right;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: 0.25rem;
    transition: background-color 0.25s ease-in-out;
}