.graphic {
    /* position: absolute; */
    width: inherit;
    height: inherit;
    margin: 0;
    /* z-index: -1; */
}

.graphic-container {
    background-color: lightcoral;
    height: 100%;
    width: 100%;
}