.journal-entry {
  padding: 20px;
  max-width: 800px;
  display: block;
  margin: 20px auto;
}

.journal-entry small {
  font-size: 16px;
  color: #CAD0D6;
  text-align: right;
  display: block;
}

.journal-entry h1 {
  font-size: 20px;
  text-align: center;
  display: block;
}

.journal-entry h2 {
  font-size: 18px;
  text-align: center;
}

.journal-entry p {
  font-size: 16px;
  text-align: left;
}

.journal-entry li {
  text-align: left;
}

.journal-entry .icon {
  float: left;
}

.journal-entry .tag {
  text-align: center;
  color: #CAD0D6;
  display: inline-block;
  font-size: 14px;
}
