/* @media only screen and (max-width: 800px) {
  .nav-right {
    visibility: hidden;
  }
} */

.nav-right {
  float: right;
  padding: 0px;
  height: 100%;
}

.nav-right table {
  height: 100%;
}

.nav-right * {
  vertical-align: middle;
  padding-left: 5px;
}
