.container {
  display: inline-block;
  width: 50%;
}

.profile-card {
  display: block;
  width: 200px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.profile-card:hover {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}
