
.card {
  justify-content: center;
  align-items: center;

  color: black;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(249, 249, 249);
  border-radius: 2px;
  padding: 0.5em;
  text-align: center;

  box-shadow: 0 0 5px 5px rgba(63, 56, 68, 0.1); /* #3f3844 */
}

.card-child {
  display: inline-block;
}
