.landing {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing h1 {
  margin-bottom: 4px;
}

.landing .byline {
  margin-top: 4px;
}

.landing .info {
  display: block;
  text-align: center;

  background-color: transparent;

  margin: 0 auto;
  padding: 40px;

  animation-duration: 1s;
  animation-name: fadeIn;
}

.landing .info p a, .landing .info p a:visited {
  text-decoration: none;
  color: #282c34;
}

.landing .info p a:hover, .landing .info p a:visited:hover {
  color: #B9009A;
}

.landing .info .Links a {
  margin: 5px;
  padding: 5px;
}

.landing .Profile-Pic {
  height: 175px;
  border-radius: 100px;
  margin: 0px auto;
  display: block;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
