.Landing {
  display: flex;
  height: 100vh;
  text-align: center;
  background-color: black;
}

.info {
  width: 60%;
  background-color: white;

  margin: auto;
  padding: 40px;

  border-radius: 4px;
}

.info p a, .info p a:visited {
  text-decoration: none;
  color: #282c34;
}

.info p a:hover, .info p a:visited:hover {
  color: #B9009A;
}

.info .Links a {
  margin: 5px;
  padding: 5px;
}

.Profile-Pic {
  height: 175px;
  border-radius: 100px;
  margin: 0px auto;
  display: block;
}
