.info {
  z-index: 10;

  display: block;

  text-align: center;
  background-color: transparent;

  margin: auto;
  padding: 40px;

  animation-duration: 1s;
  animation-name: fadeIn;
}

.info p a, .info p a:visited {
  text-decoration: none;
  color: #282c34;
}

.info p a:hover, .info p a:visited:hover {
  color: #B9009A;
}

.info .Links a {
  margin: 5px;
  padding: 5px;
}

.Profile-Pic {
  height: 175px;
  border-radius: 100px;
  margin: 0px auto;
  display: block;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
