
.nav-custom {
  background-color: rgb(249, 249, 249);

  display: block;
  position: relative;

  height: 80px;
  line-height: 80px;

  box-shadow: 0 0 5px 5px rgba(63, 56, 68, 0.1); /* #3f3844 */
}

.nav-custom * {
  height: 100%;
  line-height: inherit;

  color: #3f3844;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
