.nav-brand {
  float: left;
  font-size: 25px;
  height: 100%;
}

.nav-brand table {
  height: 100%;
}

.nav-brand img {
  height: 45px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 22px;
}
