.footer {

  height: 60px;
  line-height: 60px;

  background-color: rgb(249, 249, 249);
}

.footer * {
  color: #AAA;
  text-decoration: none;
  height: inherit;

  padding-left:10px;
  padding-right: 10px;
}

.footer-right {
  float: right;
}

.footer-left {
  float: left;
}

.footer-icon {
  height: 100%;
}
