@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* important for creating full page sections */
section {
  /* height: 100vh; */
}

html {
  /* position: relative; */
  /* min-height: 100%; */
}

body {
  color: #19191A;;
  text-decoration: none;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  margin: 0px;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}
