@media only screen and (max-width: 800px) {
  .nav-right {
    visibility: hidden;
  }
}

.nav-right {
  right: 0;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  position: absolute;
}
