#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Landing */
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing .Navbar {
  position: absolute;
  top: 0;
}

.landing .Navbar ul {
  list-style-type: none;
  margin: 40px;
  padding: 0;
}

.landing .Navbar ul li {
  display: inline;
  margin: 20px;
}

.landing .Navbar ul li a, .landing .Navbar ul li a:visited {
  text-transform: uppercase;
}

.landing .Navbar ul li a:hover, .landing .Navbar ul li a:visited:hover {
  text-transform: uppercase;
}

.landing .byline {
  margin-top: 4px;
}

.landing .info {
  display: block;
  text-align: center;

  background-color: transparent;

  margin: 0 auto;
  padding: 40px;

  animation-duration: 1s;
  animation-name: fadeIn;
}

.landing .info .Links a {
  margin: 5px;
  padding: 5px;
}

.landing .Profile-Pic {
  height: 150px;
  border-radius: 100px;
  margin: 0px auto;
  display: block;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

/* Footer */

.Footer {
  height: 50px;
  background-color: white;
}

.Footer p {
  font-size: 12px;
  text-align: center;
  color: #555;
}

