/* https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Open+Sans:300 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* important for creating full page sections */
section {
  height: 100vh;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #3f3844;
  text-align: center;
  text-decoration: none;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  display: block;
  margin: 0px;

  background-color: rgb(249, 249, 249);
}
